.bookingtext__main{
    font-family: var(--font-primary);

    display: flex;
    flex-direction: row;
    gap: 30px;  
    padding: 10px 0 0;
}

.bookingtext__icon-container{
    height: 54px;
    width: 54px;
    background-color: rgba(19, 115, 235, 0.2);
    border-radius:  10px;
    display: flex;
    justify-content: center;
    align-items: center;
}


.bookingtext__main:hover .bookingtext__icon-container{
    background-color: var(--color-blue);
    transition: 0.75s ease-in-out;
}

.bookingtext__main:hover .icon{
    filter: brightness(0) invert(1);
}


.bookingtext__content{
    display: flex;
    flex-direction: column;
    gap: 10px;
    flex:1 0 0px;
}

.bookingtext__content p{
    font-weight: 400;
    line-height: 16px;
    color: var(--color-grey);   
}

.bookingtext__content h2{
    font-weight: 700;
    line-height: 24px;
    color: var(--color-black);   
}

.bookingtext__icon{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.dashes {
  display: flex;
  flex-direction: column;
  gap: 4px;
  align-items: center;
}

.dashes span {
  width: 2px;
  height: 4px;
  background: rgba(19, 115, 235, 0.2);
}