.booking__main{
    margin-top: 60px;
    font-family: var(--font-primary);
}

.booking__container{
    padding: 50px 0;
    display: flex;
    flex-direction: column;
 
    gap:50px;

}

.booking__header h2{
    font-size: 45px;
    font-weight: 700;
    line-height: 55px;
}

.booking__bottom{
    display: flex;
    flex-direction: row;
    gap: 10px;
    
}

.booking__content{
    padding: 0 0 0 80px;
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.booking__image {
    inset: 0px;
}


@media screen and (max-width: 1439px) {
   .booking__bottom{
    flex-direction: column;
    gap: 40px;
   }

   .booking__image img{
        width: 100%;
        height: 414px;
        object-fit: cover;
        object-position: center center;
     
        display: block;
    }

    .booking__content{
        padding: 0;
    }
}