.app__navbar{
    width: 100%;
  
    height: 84px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.app__navbar-logo{
    width: 154px;
    height: 25px;
}

.app__navbar-logo img{
    width: 100%;
    
}

.navbar__links{
    list-style: none;
    display: flex;
    flex: 1;
    gap: 55px;
    justify-content: center;
    align-items: center;

}


.navbar__links li {

    cursor: pointer;
    font-size: 15px;
    font-family: var(--font-primary);
    line-height: 25px;
    color: var(--color-black);
    font-weight:500;
}

.navbar__links li:hover{
    color: var(--color-blue);
    transition:color 1s ease;
}

.navbar__button{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap:15px;
    
}

.navbar__button button {
  padding: 10px 30px;
  font-size: 14px;
  font-family: 'Poppins',sans-serif;  
  font-weight: 600;
  line-height: 24px;
  border-radius: 6px;
  border: 1px solid var(--color-blue);
  background-color: var(--color-white);
  color: var(--color-blue);
  letter-spacing: .03em;


  transition: background-color 0.4s ease, color 0.4s ease, box-shadow 0.3s ease;
}

.navbar__button button:hover {
  background-color: var(--color-blue);
  color: var(--color-white);

  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
}

.navbar__smallscreen{
    display: none;
}

.navbar__smallscreen-links{
    position: absolute;
        top: 84px;
        left:84px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;
        text-align: left;
            box-shadow: rgba(133, 133, 133, 0.25) 0px 0px 12px 0px;
      
        border-radius: 1.875rem;
        background-color: white;
    
    width: 880px;
    height: 250px;
    padding: 30px;
    list-style: none;
    z-index: 3;

}

.navbar__smallscreen-links li{
    font-size: 15px;
    font-family: var(--font-primary);
}


.navbar__links a,
.navbar__smallscreen-links a {
  text-decoration: none;   
  color: inherit;          
}

.navbar__links a:hover,
.navbar__smallscreen-links a:hover {
  color: var(--color-blue);         
}









@media screen and (min-width: 810px) and (max-width: 1439px) {
  .navbar__links{
    display: none;
  }
  .navbar__smallscreen{
    display: flex;
}
}


/* Phone - 809px and below */
@media screen and (max-width: 809px) {
    .navbar__smallscreen-links{
        width: 390px;
    }
 .navbar__links{
    display: none;
  }
  .navbar__button-container{
    display: none;
  }
  .navbar__smallscreen{
    display: flex;
}
}








