.footer {
  padding: 100px 0 0;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  gap: 60px;
  width: 100%;
  font-family: var(--font-primary);
}

.footer-container {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  gap: 30px;
  width: 1200px;
}

.footer-section {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.footer-section.first {
  padding: 0 70px 0 0;
  gap: 57px;
}
.img-container img {
  display: flex;
  height: 25px;
  width: 154px;
}

.footer-section p {
  text-align: left;
}

.footer-section h3,
.footer-section h2 {
  font-weight: 800;
  margin-bottom: 15px;
  text-align: left;
  margin: 0px;
}

.footer-section ul {
  text-align: left;
  list-style: none;
  padding: 0;
  margin: 0;
  font-weight: 500;
}

.footer-section ul li {
  margin-bottom: 10px;
}

.footer-section ul li a {
  text-decoration: none;
  color: #333;
  transition: color 0.3s;
}

.footer-section ul li a:hover {
  color: #007bff;
}

.logo {
  font-size: 24px;
  font-weight: bold;
}

.highlight {
  color: #007bff;
}

.tagline {
  margin: 10px 0 20px;
  color: #666;
  font-size: 14px;
  max-width: 220px;
}

.social-icons {
  display: flex;
  font-size: 18px;
  color: #007bff;
  width: 155px;
  justify-content: space-between;
}

.social-icons a {
  color: #007bff;
  transition: opacity 0.3s;
}

.social-icons a:hover {
  opacity: 0.7;
}

.newsletter h3 {
  margin-bottom: 10px;
}

.newsletter-form {
  gap: 15px;
  display: flex;
  flex-direction: column;
}

.newsletter-form input {
  padding: 15px;
  background: rgb(235, 235, 235);
  color: rgb(0, 0, 0);
  box-shadow: transparent 0px 0px 0px 1px inset;
  border: none;
  outline: none;
  flex: 1 1;
  min-width: 200px;
  border-radius: 8px;
  outline: none;
  font-size: 16px;
  font-weight: 400;
}

.newsletter-form button {
  padding: 15px;
  border: none;
  background: var(--color-blue);
  color: #fff;
  font-weight: bold;
  border-radius: 8px;
  cursor: pointer;
  transition: background 0.3s;
  font-size: 16px;
  font-weight: 600;
}

.newsletter-form button:hover {
  background: #0056b3;
}

.footer-bar {
  background-color: rgb(34, 34, 34);
  color: rgba(255, 255, 255, 0.5);
  align-items: center;
  display: flex;
  justify-content: center;
  flex: none;
  flex-direction: column;
  flex-wrap: nowrap;
  gap: 10px;
  height: 56px;
  width: 100%;
}


@media (max-width: 1200px) {
  .footer-container {
    width: 100%;
    flex-direction: column;
    padding: 0 50px;
  }

}
